language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt --use-mirrors
  - psql -c 'CREATE DATABASE ccbv' -U postgres
script: python manage.py test cbv
notifications:
  email: false
