[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
click = "*"

[dev-packages]
isort = "*"
"flake8" = "*"
black = "*"
sphinx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
