[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ccbv = {editable = true, path = "."}

[dev-packages]
isort = "*"
"flake8" = "*"
black = "*"
sphinx = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
