[tool.isort]
default_section = "THIRDPARTY"
lines_after_imports = 2
profile = "black"
skip_glob = [".direnv", ".env", ".venv", "venv"]

[tool.coverage.run]
branch = true
dynamic_context = "test_function"

[tool.coverage.report]
show_missing = true
skip_covered = true
exclude_lines = [
    # Protocol classes are abstract, and don't need coverage.
    "nocoverage: protocol",
]

[tool.coverage.html]
show_contexts = true

[tool.mypy]
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
ignore_missing_imports = true
many_errors_threshold = -1
no_implicit_optional = true
show_error_codes = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "core.settings"
python_files = [
  "test_*.py",
]

[tool.ruff]
extend-exclude = [
    ".env",
]
target-version = "py310"

[tool.ruff.lint]
extend-select = [
  "A",  # flake8-builtins
  "I",  # isort
  "INP",  # flake8-no-pep420
  "ISC",  # flake8-implicit-str-concat
  "UP",  # pyupgrade
  "W",  # pycodestyle warning
]
extend-ignore = [
  "E731",  # allow lambda assignment
]

[tool.ruff.lint.isort]
lines-after-imports = 2
