blessings
django~=3.1.9
dj-database-url
django-extensions
django-pygmy
factory_boy
gunicorn
psycopg2-binary>=2.7.4
requests
# New versions aren't supported yet
sphinx==1.2.2
werkzeug
whitenoise
# Published versions break pip-compile
-e git+https://github.com/joke2k/faker.git#egg=faker

