blessings
django<2.0
dj-database-url
django-cache-url
django-extensions
django-pygmy
django-pylibmc-sasl
factory_boy
gunicorn
psycopg2>=2.7.4
pylibmc
requests
# New versions aren't supported yet
sphinx==1.2.2
werkzeug
whitenoise
# Published versions break pip-compile
-e git+https://github.com/joke2k/faker.git#egg=faker

