body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.docstring {
	margin-bottom: 10px;
}
.signature {
	font-weight: bold;
	font-size: 18px;
}
.method {
	padding: 5px 10px;
	background-color: #eee;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-bottom: 10px;
}
.attribute pre {
	background-color: #eee;
}
.method .code, .method .docstring {
	margin-left: 20px;
}
