html {overflow-y: scroll;}
body {
	padding: 60px 0; /* 60px to make the container go all the way to the bottom of the topbar */
}
#logo {
	color: #888;
	font-size: 50px;
	margin-bottom: 30px;
}
.docstring {
	margin: 10px 0 0;
	padding: 0 0 0 1px;
	background-color: transparent;
	border: none;
}
.highlight{
	margin-top: 10px;
}
.page-header .docstring{
	margin-bottom: 0;
}
.signature {
	border: none;
	color: #333;
}
.signature.highlight{
	background-color: transparent;
	padding: 0;
}/*
.method {
	padding: 5px 10px;
	background-color: #eee;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-bottom: 10px;
}*/
.accordion-group{
	border: none;
}
.method.accordion-group header{
	border-bottom: 1px solid #ccc;
	display: block;
	text-align: left;
	padding: 0 10px;
}
.method.accordion-group header h3 code{
	font-size: 16px;
}
.method.accordion-group header small{
	padding-top: 3px;
}
.attribute pre {
	background-color: #eee;
}
#descendants.span8 ul{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}
#descendants.span12 ul{
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}
#ancestors .direct{
	font-weight: bold;
}
footer p {
	margin-bottom: 0;
	color: #555;
	text-align: right;
}
