{% extends 'base.html' %}
{% load url from future %}
{% load cbv_tags %}

{% block title %}{{ project_version }}{% endblock %}


{% block breadcrumbs %}
    {{ block.super}}
    {% breadcrumbs project_version %}
{% endblock breadcrumbs %}


{% block page_header %}<h1>{{ project_version }}</h1>{% endblock %}


{% block content %}
    <div class="span12">
        <ul>
        {% for object in object_list %}
            <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
