{% extends 'base.html' %}
{% load cbv_tags %}


{% block title %}{{ projectversion }}{% endblock %}


{% block nav %}
    {% nav projectversion %}
{% endblock %}


{% block content %}
    <div class="span12">
        <div id='klass-buttons'>
            <span class="btn btn-small" id="toggle-secondary-klasses">Show more</span>
        </div>
        <h1>{{ projectversion }}</h1>
        <div class="row">
            {% include 'cbv/_klass_list.html' with column_width=6 %}
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{{ STATIC_URL }}ccbv.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-tooltip.js"></script>
    <script>
        $( function (){
            CCBV.klass_list.hide_secondary();
            $('#klass-buttons').show();
            $('#klass-buttons #toggle-secondary-klasses').click(function () {
                var button = $(this);
                CCBV.klass_list.toggle_secondary().promise().done(function () {
                    if ($(this).css('display') == 'none') {
                        button.text('Show more');
                    } else {
                        button.text('Show less');
                    }
                });
            });
            $('.klass-tooltip').tooltip();
        })
    </script>
{% endblock %}

