<!DOCTYPE html>
{% load url from future %}
{% load analytics_tags %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Class-Based-View Inspector{% endblock %} -- Classy CBV</title>
    <meta name="description" content="The best way to understand Django's class-based views is to see it in Classy CBV, so pick your version and jump in at the deep end.">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles from Twitter Bootstrap-->
    {% compress css %}
    <link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}manni.css" rel="stylesheet">
    {% endcompress %}

    {% if push_state_url %}
        <link rel="canonical" href="{{ push_state_url }}">
        <script type="text/javascript">window.history.replaceState({}, '', '{{ push_state_url }}');</script>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% compress js %}
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}jquery-1.7.1.min.js"><\/script>');</script>
        <script src="{{ STATIC_URL }}bootstrap-collapse.js"></script>
        <script src="{{ STATIC_URL }}modernizr-2.5.3.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap-dropdowns.js"></script>
    {% endcompress %}

    {% block extraheaders %}{% endblock %}
    {% analytics %}
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="row-fluid">
                <div id="logo" class="span12">
                    Classy <abbr title="Class Based Views (in Django)">CBV</abbr>
                </div>
            </div>
            {% block breadcrumb_wrap %}
            <div class="row-fluid">
                <div class="span12"><ul class="breadcrumb">
                    {% block breadcrumbs %}{% endblock breadcrumbs %}
                </ul></div>
            </div>
            {% endblock %}
        </header>
        <article>
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        {% block page_header %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="row-fluid">{% block content %}{% endblock %}</div>
        </article>
        {% block footer %}
            <footer>
                <hr />
                <p>Initially developed at <a href="http://refreshoxford.co.uk/">Refresh Oxford</a>.</li>
                <p>Sponsored by <a href="http://incuna.com/">Incuna</a>.</li>
            </footer>
        {% endblock %}
    </div> <!-- /container -->
    <a href="http://github.com/refreshoxford/django-cbv-inspector/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://a248.e.akamai.net/camo.github.com/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>
    <script type="text/javascript">$('.dropdown-toggle').dropdown()</script>
    {% block extra_js %}{% endblock %}
</body>
</html>
