{% extends 'base.html' %}


{% block page_header %}<h1>Classy &mdash; understand Django's class-based views.</h1>{% endblock %}


{% block breadcrumb_wrap %}{% endblock %}

{% block content %}
    <div class="span6">
        <h2>What's a class-based view anyway?</h2>

        <p><a href="http://djangoproject.com/">Django</a>'s class-based generic views provide abstract classes implmenting common web development tasks.
        These are very powerful, and heavily-utilise Python's concepts of mixins and base classes. This
        means they're more than just a couple of generic shortcuts: they also
        provide utilities which can be mixed-into the much more complex views that you
        write yourself.</p>

        <h2>Great! So what's the point of the inspector?</h2>

        <p>All of this power comes at the expense of simplicity. Trying to work out
        exactly which method you need to customise on your <code>UpdateView</code> can feel a
        little like wading through spaghetti: it has 8 separate ancestors (plus
        <code>object</code>), spread across 3 different python files. So working out that you wanted to
        tweak <code>UpdateView.get_initial</code> (and what its keyword arguments are) is a bit of
        a faff. Classy CBV shows you exactly what you need to know.</p>
    </div>
    <div class="span6">
        <div class="hero-unit">
            <h1>Take a look!</h1>
            <p>The best way to understand Django's class-based views is to see it in Classy CBV, so pick your version and jump in at the deep end:</p>
            {% for pv in projectversion_list %}
                <a class="btn btn-large{% if forloop.first %} btn-primary{% endif %}" href="{{ pv.get_absolute_url }}">{{ pv }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
