{% for chunk in chunked(modules.items(), 4) %}
<div class="span{{ column_width }}">
  {% for module, klasses in chunk %}
  <div class="well skinny klass-list">
    <ul class="nav nav-list">
      <li class="nav-header"><h3>{{ long_name(module) }}</h3></li>
      {% for name, klass in klasses.items() %}
      <li class="{% if klass.is_secondary %}secondary{% else %}primary{% endif %}">
        <a class="klass-tooltip" data-original-title="{{ klass.doc_string }}" data-placement="bottom"
           href="/{{ version }}/{{ module }}/{{ name }}.html">{{ name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endfor %}
