<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Class-Based-View Inspector{% endblock %} -- Classy CBV</title>
    <meta name="description" content="The best way to understand Django's class-based views is to see it in Classy CBV, so pick your version and jump in at the deep end.">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/style.css" rel="stylesheet">

    {% if push_state_url %}
        <link rel="canonical" href="{{ push_state_url }}">
        <script type="text/javascript">
            window.history.replaceState({}, '', '{{ push_state_url }}');
        </script>
    {% endif %}

    <script src="/script.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29872137-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">ccbv.co.uk</a>

        <ul class="nav">
          <li li="version-{{ nav.current_version }}" class="dropdown">
            <a href="#version-{{ nav.current_version }}" class="dropdown-toggle" data-toggle="dropdown">
              Django {{ nav.current_version }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% for version in nav.versions %}
              <li><a href="/{{ version }}">Django {{ version }}</a></li>
              {% endfor %}
            </ul>
          </li>

          <li class="divider-vertical"></li>

          {% for source, modules in nav.sources.items() %}
          <li><a href="#">{{ source }}</a></li>

          {% for module, klasses in modules.items() %}
          <li id="module-{{ module }}" class="dropdown{% if module == module_name %} active{% endif %}">
            <a href="#module-{{ module }}" class="dropdown-toggle" data-toggle="dropdown">
              {{ module|title }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% for klass, klass_url in klasses.items() %}
              <li {% if klass == klass_name %}class=" active"{% endif %}>
                <a href="/{{ nav.current_version }}/{{ klass_url }}">{{ klass }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}

          <li class="divider-vertical"></li>

          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <article id="main">
      {% block page_header %}{% endblock %}
      <div class="row">{% block content %}{% endblock %}</div>
    </article>
    {% block footer %}
    <footer>
      <hr />
      <p>Developed at <a href="http://www.refreshoxford.co.uk/">Refresh Oxford</a>.</p>
      <p><a href="http://github.com/refreshoxford/django-cbv-inspector/">Source code</a> and
      <a href="https://github.com/refreshoxford/django-cbv-inspector/graphs/contributors">Contributors</a>
      on <a href="http://github.com/">GitHub</a>.</p>
      <p>Sponsored by <a href="http://incuna.com/">Incuna</a>.</p>
    </footer>
    {% endblock %}
  </div> <!-- /container -->
  <script type="text/javascript">$('.dropdown-toggle').dropdown()</script>
  {% block extra_js %}{% endblock %}
</body>
</html>
