{% extends 'base.html' %}

{# {% load cbv_tags %} #}
{# {% load static from staticfiles %} #}

{% block title %}Django {{ version }}{% endblock %}


{# {% block nav %} #}
{#     {% nav projectversion %} #}
{# {% endblock %} #}


{% block content %}
<div class="span12">

  <div id='klass-buttons'>
    <span class="btn btn-small" id="toggle-secondary-klasses">Show more</span>
  </div>

  <h1>Django {{ version }}</h1>

  <div class="row">
    {% include "_klass_list.html" %}
  </div>
</div>
{% endblock %}
