{% extends "base.html" %}
{% load pygmentify %}

{% block title %}{{ object }}{% endblock %}

{% block extraheaders %}
    <link href="{{ STATIC_URL }}manni.css" rel="stylesheet">
{% endblock %}

{% block content %}
        <p class="breadcrumbs">
            {% with object.module as module %}
                {% with module.project_version as project_version %}
                    {% with project_version.project as project %}<a href="{{ project.get_absolute_url }}">{{ project.name }}</a>{% endwith %} >
                    <a href="{{ project_version.get_absolute_url }}">{{ project_version.version_number }}</a> >
                {% endwith %}
                <a href="{{ module.get_absolute_url }}">{{ object.module }}</a>
            {% endwith %}
        </p>
        <div>
            <h1><small>class</small> {{object.name}}</h1>
            {% if object.docstring %}
                <pre class="docstring">{{ object.docstring }}</pre>
            {% endif %}
            <pre>from {{ klass.module }} import {{ klass }}</pre>
            {% with object.get_ancestors as direct_ancestors %}
                {% for ancestor in object.get_all_ancestors %}
                    {% if forloop.first %}
                    <h2>Ancestors</h2>
                    <ul id="ancestors">
                    {% endif %}
                    <li>
                        <a href="{{ ancestor.get_absolute_url }}" class="{% if ancestor in direct_ancestors %}direct{% endif %}">
                            {{ancestor.name}}
                        </a>
                    </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% endfor %}
            {% endwith %}
            {% for child in object.get_all_children %}
                {% if forloop.first %}
                <h2>Descendants</h2>
                <ul id="descendants">
                {% endif %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
            {% for attribute in object.get_attributes %}
                {% if forloop.first %}<h2>Attributes</h2>{% endif %}
                <h3 class="attribute">
                    <small class="pull-right">{{ attribute.klass }}</small>
                    <pre class="signature">{{ attribute.name }} = {{ attribute.value }}</pre>
                </h3>
            {% endfor %}
            {% for method in object.get_methods %}
                {% if forloop.first %}<h2>Methods</h2>{% endif %}
                <div class="method">
                    <h3>
                        <code class="signature highlight">
                            <span class="k">def</span>
                            <span class="nf">{{ method.name }}</span>(<span class="n">{{ method.kwargs }}</span>):
                        </code>
                        <small class="pull-right">{{ method.klass }}</small>
                    </h3>
                    {% if method.docstring %}
                        <pre class="docstring">{{ method.docstring }}</pre>
                    {% endif %}
                    {% pygment %}
                        <pre lang="python" class="code">{{ method.code }}</pre>
                    {% endpygment %}
                </div>
            {% endfor %}
        </div>
{% endblock %}
