{% extends "base.html" %}
{% block content %}
        <div>
			<h1><small>class</small>{{object.name}}
			<small class="pull-right">
			{% for ancestor in ancestors %}
            <a href="{{ ancestor.get_absolute_url }}">{{ancestor.name}}</a>{% if not forloop.last %},{% endif %}
			{% endfor %}
			</small>
			</h1>
			{% if object.docstring %}
			<div class="docstring"><code>{{ object.docstring }}</code></div>
			{% endif %}
			{% for attribute in object.attributes.all %}
            <div class="attribute">
				<pre class="signature">{{ attribute.name }} = {{ attribute.value }}</pre>
			</div>
			{% endfor %}
			{% for method in object.method_set.all %}
            <div class="method">
                <h2>
					<code class="signature">def {{ method.name }}({{ method.kwargs }}):</code>
                    <small class="pull-right">{{ method.klass }}</small>
                </h2>
				{% if method.docstring %}
				<pre class="docstring">{{ method.docstring }}</pre>
				{% endif %}
				<pre class="code">{{ method.code  }}</pre>
			</div>
			{% endfor %}
        </div>
{% endblock %}
