{% extends 'base.html' %}
{% load url from future %}


{% block title %}{{ object }}{% endblock %}


{% block breadcrumbs %}
    <p class="breadcrumbs">
        <a href="{% url 'home' %}">Classy CBV</a> >
        <a href="{% url 'project-list' %}">Projects</a> >
        {% with object.project_version as project_version %}
            {% with project_version.project as project %}<a href="{{ project.get_absolute_url }}">{{ project.name }}</a>{% endwith %} >
            <a href="{{ project_version.get_absolute_url }}">{{ project_version.version_number }}</a> >
        {% endwith %}
        <span>{{ object }}</span>
    </p>
{% endblock breadcrumbs %}


{% block content %}
    <h1>{{ object }}</h1>
    <ul>
        {% for klass in object.klass_set.all %}
            <li><a href="{{ klass.get_absolute_url }}">{{ klass }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
