{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ project_version }}{% endblock %}


{% block breadcrumbs %}
        <li>
            <a href="{% url 'home' %}">Classy CBV</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'project-list' %}">Projects</a>
            <span class="divider">/</span>
        </li>
        {% with project_version.project as project %}
        <li>
            <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
            <span class="divider">/</span>
        </li>
        {% endwith %}
        <li>{{ project_version.version_number }}</li>
{% endblock breadcrumbs %}


{% block page_header %}<h1>{{ project_version }}</h1>{% endblock %}


{% block content %}
    <div class="span12">
        <ul>
        {% for object in object_list %}
            <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
