{% extends 'base.html' %}
{% load url from future %}


{% block title %}{{ object }}{% endblock %}


{% block breadcrumbs %}
    <li>
        <a href="{% url 'home' %}">Classy CBV</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'project-list' %}">Projects</a>
        <span class="divider">/</span>
    </li>
    {% with project_version=object.project_version project=object.project_version.project %}
    <li>
        <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ project_version.get_absolute_url }}">{{ project_version.version_number }}</a>
        <span class="divider">/</span>
    </li>
    {% endwith %}
    <li>{{ object }}</li>
{% endblock breadcrumbs %}


{% block page_header %}<h1>{{ object }}</h1>{% endblock %}


{% block content %}
    <div class="span12">
        <ul>
            {% for klass in object.klass_set.all %}
                <li><a href="{{ klass.get_absolute_url }}">{{ klass }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
