{% extends 'base.html' %}
{% load url from future %}


{% block title %}{{ object }}{% endblock %}


{% block breadcrumbs %}
    <hr />
    <p class="breadcrumbs">
        <a href="{% url 'home' %}">Classy CBV</a> >
        <a href="{% url 'project-list' %}">Projects</a> >
        <span>{{ object }}</span>
    </p>
{% endblock breadcrumbs %}


{% block content %}
<h1>{{ object }}</h1>
<ul>
    {% for version in object.projectversion_set.all %}
    <li><a href="{{ version.get_absolute_url }}">{{ version }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
