{% extends 'base.html' %}
{% load url from future %}


{% block title %}Projects{% endblock %}


{% block breadcrumbs %}
    <li>
        <a href="{% url 'home' %}">Classy CBV</a>
        <span class="divider">/</span>
    </li>
    <li>Projects</li>
{% endblock breadcrumbs %}


{% block page_header %}<h1>Projects</h1>{% endblock %}


{% block content %}
    <div class="span12">
        <ul>
            {% for object in object_list %}
                <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
