{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ object }}{% endblock %}


{% block breadcrumbs %}
    <hr />
    <p class="breadcrumbs">
        <a href="{% url 'home' %}">Classy CBV</a> >
        <a href="{% url 'project-list' %}">Projects</a> >
        {% with object.project as project %}<a href="{{ project.get_absolute_url }}">{{ project.name }}</a>{% endwith %} >
        <span>{{ object.version_number }}</span>
    </p>
{% endblock breadcrumbs %}


{% block content %}
<h1>{{ object }}</h1>
<ul>
    {% for module in object.module_set.all %}
    <li><a href="{{ module.get_absolute_url }}">{{ module }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
