<!DOCTYPE html>
{% load analytics_tags %}
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Class-Based-View Inspector{% endblock %} -- Classy CBV</title>
    <meta name="description" content="The best way to understand Django's class-based views is to see it in Classy CBV, so pick your version and jump in at the deep end.">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles from Twitter Bootstrap-->
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'manni.css' %}" rel="stylesheet">

    {% if push_state_url %}
        <link rel="canonical" href="{{ push_state_url }}">
        <script type="text/javascript">
            window.history.replaceState({}, '', '{{ push_state_url }}');
        </script>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'jquery-1.7.1.min.js' %}"><\/script>');</script>
    <script src="{% static 'bootstrap-collapse.js' %}"></script>
    <script src="{% static 'modernizr-2.5.3.min.js' %}"></script>
    <script src="{% static 'bootstrap-dropdowns.js' %}"></script>
    <script>$('.dropdown-toggle').dropdown()</script>

    {% block extraheaders %}{% endblock %}
    {% analytics %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">ccbv.co.uk</a>
                <ul class="nav">
                {% block nav %}{% endblock nav %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <article id="main">
            {% block page_header %}{% endblock %}
            <div class="row">{% block content %}{% endblock %}</div>
        </article>
        {% block footer %}
            <footer>
                <hr />
                <p>Developed at <a href="http://refreshoxford.co.uk/">Refresh Oxford</a>.</p>
                <p><a href="http://github.com/refreshoxford/django-cbv-inspector/">Source code</a> and
                    <a href="https://github.com/refreshoxford/django-cbv-inspector/graphs/contributors">Contributors</a>
                    on <a href="http://github.com/">GitHub</a>.</p>
                <p>Sponsored by <a href="http://incuna.com/">Incuna</a>.</p>
            </footer>
        {% endblock %}
    </div> <!-- /container -->
    <script type="text/javascript">$('.dropdown-toggle').dropdown()</script>
    {% block extra_js %}{% endblock %}
</body>
</html>
