{% extends 'base.html' %}
{% load cbv_tags %}


{% block page_header %}<h1>Classy &mdash; understand Django's class-based views.</h1>{% endblock %}


{% block nav %}
    {% nav projectversion %}
{% endblock %}

{% block content %}
    <div class="span4">
        <h2>What's a class-based view anyway?</h2>

        <p><a href="http://djangoproject.com/">Django</a>'s class-based generic views provide abstract classes implmenting common web development tasks.
        These are very powerful, and heavily-utilise Python's concepts of mixins and base classes. This
        means they're more than just a couple of generic shortcuts: they also
        provide utilities which can be mixed-into the much more complex views that you
        write yourself.</p>

        <h2>Great! So what's the point of the inspector?</h2>

        <p>All of this power comes at the expense of simplicity. Trying to work out
        exactly which method you need to customise on your <code>UpdateView</code> can feel a
        little like wading through spaghetti: it has 8 separate ancestors (plus
        <code>object</code>), spread across 3 different python files. So working out that you wanted to
        tweak <code>UpdateView.get_initial</code> (and what its keyword arguments are) is a bit of
        a faff. Classy CBV shows you exactly what you need to know.</p>
    </div>
    <div class="span8">
        <div class="hero-unit">
            <h1>Have a look!</h1>
            <p>Believe it or not, the best way to understand the class-based views is to see the code. We've tried to make it easy, so why not have a look?</p>
            <div id='klass-buttons' style="display:none;">
                <span class="btn" id="toggle-secondary-klasses">Show more</span>
            </div>
            <div class="row">
                <div class="span3">
                    {% for obj in object_list %}
                        {% ifchanged obj.module %}
                            {% if not forloop.first %}</ul></div>{% endif %}
                            {% if obj.module.short_name == 'detail'%}</div><div class="span3">{% endif %}
                            <div class="well skinny klass-list">
                            <ul class="nav nav-list">
                            <li class="nav-header"><h3>{{ obj.module.short_name }}</h3></li>
                        {% endifchanged %}
                        <li class="{% if obj.is_secondary %}secondary{% else %}primary{% endif %}">
                            <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
                        </li>
                    {% endfor %}
                    </ul></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{{ STATIC_URL }}ccbv.js"></script>
    <script>
        $( function (){
            CCBV.klass_list.hide_secondary();
            $('#klass-buttons').show();
            $('#klass-buttons #toggle-secondary-klasses').click(function() {
                var button = $(this);
                if (!!button.data()['open']) {
                    CCBV.klass_list.conceal_secondary();
                    button.text('Show more');
                    button.data('open', false);
                } else {
                    CCBV.klass_list.reveal_secondary();
                    button.text('Show less');
                    button.data('open', true);
                }
            });
            $('#klass-buttons #hide-secondary-klasses').click(function() {
            });
        })
    </script>
{% endblock %}
